body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: antiquewhite;
}
.piano{
    height: 19rem;
    padding: 5rem 2rem 0 2rem ;
    background-color: #fc8989;
    border-radius: 1rem;
}
.keys{
    position: relative;
}
.white-keys{
    display: flex;
}
.white-key{
    width: 4rem;
    height: 18rem;
    background-color: #fff;
    border: solid black 2px;
    border-radius: 0 0 .5rem .5rem;
    box-sizing: border-box;
}
.black-keys{
    position: relative;
    display: flex;
}
.black-key{
    width: 2rem;
    height: 10rem;
    background-color: #000;
    border-radius: 0 0 .5rem .5rem;
    box-sizing: border-box;
    position: absolute;
}
.black-key:nth-child(1){
    left: 3rem;
}
.black-key:nth-child(2){
    left: 7rem;
}
.black-key:nth-child(3){
    left: 15rem;
}
.black-key:nth-child(4){
    left: 19rem;
}
.black-key:nth-child(5){
    left: 23rem;
}
.black-key:nth-child(6){
    left: 31rem;
}
.black-key:nth-child(7){
    left: 35rem;
}
.black-key:nth-child(8){
    left: 39rem;
}
.black-key:nth-child(9){
    left: 47rem;
}
.black-key:nth-child(10){
    left: 51rem;
}
@media (max-width:690px){
    .piano{
        width: 98%;
        height: 11rem;
        padding: 3rem 0.2rem 0 0.2rem;
    }
    .white-key{
        width:14%;
        height: 10rem;
    }
    .black-key{
        width:3.5%;
        height: 5.5rem;
    }
    .black-key:nth-child(1){
        left: 5%;
    }
    .black-key:nth-child(2){
        left: 12.5%;
    }
    .black-key:nth-child(3){
        left: 26.7%;
    }
    .black-key:nth-child(4){
        left: 34%;
    }
    .black-key:nth-child(5){
        left: 41%;
    }
    .black-key:nth-child(6){
        left: 55.5%;
    }
    .black-key:nth-child(7){
        left: 62.5%;
    }
    .black-key:nth-child(8){
        left: 70%;
    }
    .black-key:nth-child(9){
        left: 84%;
    }
    .black-key:nth-child(10){
        left: 91.3%;
    }
}
@media (min-width:690px) and (max-width:960px){
    .piano{
        height: 16rem;
        padding: 4rem 0.5rem 0 0.5rem;
    }
    .white-key{
        width:3rem;
        height: 15rem;
    }
    .black-key{
        width:1.5rem;
        height: 8rem;
    }
    .black-key:nth-child(1){
        left: 2.25rem;
    }
    .black-key:nth-child(2){
        left: 5.25rem;
    }
    .black-key:nth-child(3){
        left: 11.25rem;
    }
    .black-key:nth-child(4){
        left: 14.25rem;
    }
    .black-key:nth-child(5){
        left: 17.25rem;
    }
    .black-key:nth-child(6){
        left: 23.25rem;
    }
    .black-key:nth-child(7){
        left: 26.25rem;
    }
    .black-key:nth-child(8){
        left: 29.25rem;
    }
    .black-key:nth-child(9){
        left: 35.25rem;
    }
    .black-key:nth-child(10){
        left: 38.25rem;
    }
}
